{{> global/partials/header}}

    <div class="container" id="view">

	    <div class="row topicRow">
	        <div class="col-xs-6">
	            <b>Topics:</b> {{{topics}}}
	        </div>
	    </div>

	    {{{threads}}}

{{> global/partials/footer}}