<x-post class="row postWrapper">
	<div class="col-xs-2 text-right">
		<x-avatar src="{{avatar}}"></x-avatar></br>
	</div>
	<div class="col-xs-10 post">
		<b>{{screenname}}</b> posted this at {{creationTime}}
		<p>{{body}}</p>
	</div>
</x-post>
