<!doctype html>
<html class="no-js" lang="">
    <head>

        <title>{{title}}</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/main.css">

        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="/static/js/mustache.js"></script>

        {{{templates}}}

    </head>
    <body>
    <div class="container-fluid headerWrapper">
        <div class="container">
             <div class="row header">
                <div class="col-xs-6">
                    <a href="/"><span class="title">{{{settings.title}}}</span></a>
                </div>
                <div class="col-xs-6 text-right">
                    <a class="btn btn-xs btn-default" href="/thread/create">New thread</a> 

                    Hey there, {{user.screenname}}<img class="img-avatar img-rounded" src="{{{user.avatar}}}">
                </div>
                
            </div>
        </div>
    </div>