<div class="row">
	<x-thread href="/thread/view/{{tid}}">
		<div class="col-xs-12 thread">
			<div class="row">
				<div class="col-xs-2 text-right">
					<span class="label label-cool">{{topic}}</span>
				</div>
				<div class="col-xs-5">
					<b>{{title}}</b>
				</div>	
				<div class="col-xs-3">
					<p><b>{{username}}</b> replied at {{lastUpdate}}</p>
				</div>
				<div class="col-xs-2 text-right">
					{{posts}} posts
				</div>
			</div>
		</div>
	</x-thread>
</div>