	<div class="row postWrapper">
		<div class="col-xs-2 text-right">
			<img src="{{avatar}}" class="img-rounded"></br>
		</div>
		<div class="col-xs-10 post">
			<b>{{username}}</b> posted this at {{creationTime}}
			<p>{{body}}</p>
		</div>
	</div>
