<div data-view="thread">

	<div class="container">
		<div class="row">
		    <div class="col-xs-12">
		    	<h3><x-var name="topic"></x-var> &gt; <x-var name="title"></x-var> <small><x-var name="postdate"></x-var></small></h3>
		    </div>
		</div>
		<div id="posts">


		</div>

		<div class="row">

			<div class="col-xs-offset-2 col-xs-10">
			</div>
			<div class="col-xs-2 text-right">
				<x-avatar src="https://pbs.twimg.com/profile_images/519095054170726400/wg_eo_pQ_bigger.jpeg" class="img-rounded"></x-avatar>
			</div>
			<div class="col-xs-10 addPostField">
				<textarea id="post" name="post" width="100%" class="form-control postForm" rows="4"></textarea>
				<button id="submit" type="submit" class="btn btn-default">Add Reply</button>
			</div>

		</div>
	</div>
	
</div>